html, body{
        padding:0;
        margin:0;
}

header{
	width:100%;
}

div[class^="container"]{
	width:100%;
}

@media screen and (max-width: 1399px) { /*xl*/
        
        .fa{
                padding: 15px;
        }

}

@media screen and (max-width: 1199px) { /*lg*/
        
        .fa{
                font-size: 1.25em;
                padding: 10px;
        }

}

@media screen and (max-width: 991px) { /*md*/
        
        .fa{
                font-size: 1.5em;
                padding: 9px;
        }

}

@media screen and (max-width: 767px) { /*sm*/
        
        .fa{
                font-size: 1.75em;
                padding: 8px;
        }

}

@media screen and (max-width: 575px) { /*xs*/
        
        .fa{
                font-size: 2em;
                padding: 7px;
        }

}