html, body{
        padding:0;
        margin:0;
}

header{
	width:100%;
}

div[class^="container"], div[class^="row"]{
	width:100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
}

div[class^="col"]{
        -ms-flex: 1;  /* IE 10 */  
        flex: 1;
        display: flex;
        justify-content: center;
}

div[class^="col-left"]{
        justify-content: flex-start;
}

div[class*="center"]{
        align-items: center;
}

h1{
        margin:0;
}

@media screen and (max-width: 1399px) { /*xl*/
        
        .fa{
                padding: 15px;
        }

        h1{
                font-size:2em;
        }

}

@media screen and (max-width: 1199px) { /*lg*/
        
        .fa{
                font-size: 1.25em;
                padding: 10px;
        }

        h1{
                font-size:1.75em;
        }

}

@media screen and (max-width: 991px) { /*md*/
        
        .fa{
                font-size: 1.5em;
                padding: 9px;
        }

        h1{
                font-size:1.5em;
        }

}

@media screen and (max-width: 767px) { /*sm*/
        
        .fa{
                font-size: 1.75em;
                padding: 8px;
        }

}

@media screen and (max-width: 575px) { /*xs*/
        
        .fa{
                font-size: 2em;
                padding: 7px;
        }

}