html, body{
        padding:0;
        margin:0;
}

header{
	width:100%;
}

div[class^="container"]{
	width:100%;
}

@media screen and (max-width: 575px) { /*xs*/
        
        i{
                font-size: x-large;
        }

}
